{% extends "base.html" %}

{% block content %}

<div class="Container">
    <div class="leftc">
        {% for infi in info %}
            <div class="nyi">
                <img class="photu" src="{{infi.profile_pic.url}}" alt='cool' width='80%' height='20%'>
            </div>
            <h2 style='text-align:center'><strong>{{user.get_full_name}}</strong></h2>
            <p style='text-align:center'><i>{{user.username}}</i></p>
            <p><span class="badge badge-primary">332</span> Following</p>
            <p><span class="badge badge-primary">124</span> Followers</p>
            <p><strong>Bio: </strong>{{infi.bio}}</p>
        {% empty %}
            <div class="nyi">
                <img class="photu" src="https://www.w3schools.com/howto/img_avatar2.png" alt='cool' width='80%' height='20%'>
            </div>
            <h2 style='text-align:center'><strong>{{user.get_full_name}}</strong></h2>
            <p style='text-align:center'><i>{{user.username}}</i></p>
        {% endfor %}
        <a class="btn btn-outline-primary btn-block" href="{% url 'completeprofile' user.username %}" role="button">Edit Profile</a>
        <a class="btn btn-outline-primary btn-block" href="{% url 'addproject' user.username %}" role="button">+ Add Project</a>
        <br>
        <h4><strong>Skills</strong></h4>
        <hr>
        {% for infi in info %}
            <p>{{infi.skills}}</p>
        {% endfor %}
    </div>
    <div class="rightc">
        <h1 style="text-align:center">Your Projects</h1>
        <br>
        <div class="row">
            {% for dbb in dbba %}
            <div class="col-sm-4">
                <div class="card" style="width: 100%;">
                    <img src="{{dbb.main_image.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{dbb.title}}</h5>
                        <p class="card-text">{{dbb.description}}</p>
                        <a href="{%url 'project_detail' dbb.id user.username %}" class="btn btn-primary">Go to project</a>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>No projects yet</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}