

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <div class="container">
    <h2>Recent Projects</h2>
    <ul class="list-group">
    {% for dbb in dbba %}
    <a href="{% url 'project_describe' dbb.id %}"  <li class="list-group-item">{{dbb.title}}
      <li class="list-group-item">{{dbb.description}}</li>
    </li>
</a>
    <br>
    {% endfor %}
    </ul>
  </div>